/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
} */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.slider-box {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.slide-in {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}